h3{
    color: red;
}

.buchi{
    border: 3px solid violet;
    
    padding: 20px;

    width: 40%;

    text-align: justify;

    color: white;
    background-color: aliceblue;

    background-image: url(https://media.istockphoto.com/id/849220498/photo/blue-tiger-butterfly-on-a-pink-zinnia-flower-with-green-background.jpg?s=612x612&w=0&k=20&c=McO2dHI1oL0KITPuqXmZbRsk4ePnnXg1yP1283LwRDM=);

    background-size: cover;

    background-repeat: no-repeat;
    top: 30px;

}